html, body{
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	background-color:#40424f;
}

.clear{
	clear:both;
}
.nicescroll-rails div{
	width:10px !important;
	border:none !important;
	border-radius: 0px !important;
	background-color:#f36750 !important;
}

/* =========================== */
/* CONTENT                     */
/* =========================== */
.global{
	width:100%;
	padding-left:40px;
	padding-right:40px;
	box-sizing:border-box;
	position:relative;
	height:100%;
	min-width:600px;
}
@media only screen and (max-width: 1280px) {
	.global{
		padding-left:0px;
		padding-right:0px;
	}
}
.wrap{
	width:100%;
	background-color:#fafaf0;
	background:url(../images/face.jpg) no-repeat bottom right fixed #fafaf0;
}
.content{
	width:100%;
	max-width:640px;
	margin:0 auto;
	padding-top:40px;
	z-index:1000;
}

/* Section - Intro */
.section-intro{
	font-family: 'whitney_blackregular';
	margin-top:22px;
	min-height:1000px;
}

.main-title{
	font-family: 'whitney_blackregular';
	font-size:52px;
	text-align:center;
	text-transform:uppercase;
	color:#41414e;
	line-height:70px;
}
.main-title span.large{
	font-size:102px;
}

.navig-wrap{
	display: table;
    font-family: 'whitney_bookregular';
    font-size: 16px;
    margin: 0 auto;
	margin-top:20px;
    position: relative;
}
a.navig-item{
	text-transform:uppercase;
	text-align:center;
	float:left;
	margin-left:12px;
	margin-right:12px;
	color:#40424f;
	text-decoration:none;
	line-height:16px;
}
.navig-wrap-fixed a.navig-item{
	color:#fafaef;
}
a.navig-item:hover{
	color:#f36750;
}

a.navig-item.active{
	font-family: 'whitney_blackregular';
}

.main-video{
	max-width:640px;
	margin-top:80px;
	float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.main-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.down-arrow-circle{
	height:60px;
	width:60px;
	margin:0 auto;
	margin-top:80px;
	border-radius:100%;
	position:relative;
	background-color:#40424f;
}
.down-arrow-circle:hover{
	cursor:pointer;
	background-color:#f36750;
}
.down-arrow-icon{
	height:60px;
	width:60px;
	position:absolute;
	top:0px;
	left:0px;
	background:url(../images/arrow-more.png) center 26px no-repeat;
}

/* Section - Spectacles */
.section-content{
	width:60%;
	margin-left:10%;
	min-height:800px;
	padding-top:160px;
}
.section-title{
	font-size:102px;
	font-family: 'whitney_blackregular';
	text-transform:uppercase;
	color:#40424f;
	margin-bottom:20px;
}
.show-wrap{
	width:100%;
	position:relative;
}
.show-row{
	width:100%;
	max-width:700px;
	padding-top:20px;
	padding-bottom:20px;
	border-bottom:1px solid #41414e;
	display:table;
}
.show-row:last-child{
	border-bottom:none;
}
.show-date{
	width:120px;
	text-align:center;
	font-family: 'whitney_blackregular';
	color:#40424f;
	display:table-cell;
}
span.topdate{
	display: block;
    font-size: 38px;
    height: 28px;
    line-height: 26px;
}
span.middate{
	text-transform:uppercase;
	font-size:20px;
}
span.botdate{
	display: block;
    font-size: 35px;
    height: 24px;
    line-height: 22px;
}
.show-text{
	padding-left:60px;
	display:table-cell;
	vertical-align:top;
}
.show-text-title{
	font-family: 'whitney_blackregular';
	font-size:18px;
	text-transform:uppercase;
	color:#42444f;
}
.show-text-location{
	font-family: 'whitney_semiboldregular';
	font-size:18px;
	text-transform:uppercase;
	color:#42444f;
	margin-bottom:15px;
}
.show-text-link{
	font-family: 'whitney_bookregular';
	font-size:14px;
	text-transform:uppercase;
	color:#f36750;
	text-decoration:none;
}

/* Section - Videos */
.section-video-wrap{
	width:100%;
	max-width:700px;
	position:relative;
}
.first-video-wrap{
	float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.first-video-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.first-video-text{
	width:100%;
	margin-top:10px;
	font-size:18px;
	color:#41414e;
	text-transform:uppercase;
	font-family: 'whitney_blackregular';
}
.first-video-text span{
	font-family: 'whitney_semiboldregular';
}
.video-grid-wrap{
	width:100%;
	max-width:810px;
	margin-top:40px;
}
a.video-grid-node{
	width:240px;
	height:140px;
	background-color:#000;
    background-size: cover;
	display:block;
	background-position:center center;
}
.video-box{
	margin-right:30px;
	margin-bottom:30px;
	float:left;
	font-family: 'whitney_blackregular';
	font-size:14px;
	text-transform:uppercase;
	color:#41414e;
}
.video-box-text{
	margin-top:5px;
}
.video-box span{
	font-family: 'whitney_semiboldregular';
}


/* Section - Nouvelles */
.section-content.nouvelles{
	max-width:700px;
}
.news-block{
	width:100%;
	max-width:700px;
}
.news-row{
	width:100%;
	padding-top:40px;
	padding-bottom:40px;
	border-bottom:1px solid #41414e;
}
.news-title{
	font-size:18px;
	color:#41414e;
	text-transform:uppercase;
	font-family: 'whitney_blackregular';
	line-height:16px;
}
.news-title span{
	font-size:14px;
	font-family: 'whitney_semiboldregular';
}
.news-text{
	color:#41414e;
	font-family: 'whitney_bookregular';
	margin-top:20px;
	margin-bottom:10px;
}
a.news-link{
	color:#f36750;
	text-transform:uppercase;
	font-size:14px;
	font-family: 'whitney_bookregular';
	text-decoration:none;
}

.owl-theme .owl-controls .owl-page span.owl-numbers{
	padding:0px !important;
	margin:0px !important;
	height:40px !important;
	width:40px !important;
	text-align:center !important;
	line-height:40px !important;
	border-radius:0px !important;
	font-size:14px !important;
	font-family: 'whitney_semiboldregular';
	color:#fafaef !important;
}
.owl-theme .owl-controls .owl-page.active span{
	background-color:#f36750 !important;
}
.owl-theme .owl-controls .owl-page span{
	background-color:#42444f !important;
}
.owl-page{
	margin-left:5px;
	margin-right:5px;
	margin-top:10px;
}

/* Section - Blog */
.section-content.blog{
	max-width:700px;
}
.blog-block{
	width:100%;
	max-width:700px;
}
.blog-row{
	width:100%;
	padding-top:40px;
	padding-bottom:40px;
	border-bottom:1px solid #41414e;
}
.blog-title{
	font-size:18px;
	color:#41414e;
	text-transform:uppercase;
	font-family: 'whitney_blackregular';
	line-height:16px;
}
.blog-title span{
	font-size:14px;
	font-family: 'whitney_semiboldregular';
}
.blog-text{
	color:#41414e;
	font-family: 'whitney_bookregular';
	margin-top:20px;
	margin-bottom:10px;
}
a.blog-link{
	color:#f36750;
	text-transform:uppercase;
	font-size:14px;
	font-family: 'whitney_bookregular';
	text-decoration:none;
}

/* Section - Biographie */
.section-text-bio{
	font-family: 'whitney_bookregular';
	font-size:14px;
}
/* Section - Gallerie */
.gallery-wrap{
	margin-top: 40px;
    max-width: 810px;
    width: 100%;
}
a.gallery-item{
	background-color: #000;
    background-size: cover;
    display: block;
    height: 140px;
    width: 240px;
	float:left;
	margin-right:30px;
	margin-bottom:30px;
}

/* Section - Contact */
.contact-wrap{
	margin-top:60px;
}
span.contact-title{
	font-family: 'whitney_blackregular';
	font-size:20px;
	color:#42444f;
	text-transform:uppercase;
}
span.contact-number{
	font-family: 'whitney_semiboldregular';
	font-size:20px;
	color:#42444f;
}
a.contact-link{
	font-family: 'whitney_bookregular';
	font-size:14px;
	color:#f36750;
	text-decoration:none;
}
/* =========================== */
/* POSTS                       */
/* =========================== */
.post-wrap{
	width:60%;
	margin-left:10%;
	min-height:800px;
	padding-top:120px;
}
.post-title{
	color: #40424f;
    font-family: 'whitney_blackregular';
    font-size: 64px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.post-text{
	color: #41414e;
    font-family: 'whitney_bookregular';
}
.backlink{
	color:#f36750;
	font-family: 'whitney_bookregular';
	text-decoration: none;
}

/* =========================== */
/* HEADER                      */
/* =========================== */
.header{
	height:40px;
	width:100%;
	position:fixed;
	top:0px;
	left:0px;
	background-color:#40424f;
	z-index:9000;
	min-width:600px;
}

.header-wrap{
	height:140px;
	width:750px;
	display:block;
	position:absolute;
	top:-140px;
	left:50%;
	transition:top 0.25s ease-in-out;
	-ms-transition:top 0.25s ease-in-out;
	-moz-transition:top 0.25s ease-in-out;
	-webkit-transition:top 0.25s ease-in-out;
}
.header-wrap.active{
	top:0px;
}
.single-post .header-wrap{
	display:none !important;
}

.header-tab{
	width:140px;
	height:100px;
	position:absolute;
	left:50%;
	margin-left:-70px;
	background:url(../images/header-tab.png)no-repeat;
	top:10px;
}
.header-tab:hover{
	cursor:pointer;
}

.navig-wrap-fixed{
	display: table;
	font-size: 16px;
    font-family: 'whitney_lightregular';
	top:12px;
    position: absolute;
	left:50%;
	min-width:600px;
}

/* =========================== */
/* FOOTER                      */
/* =========================== */
.footer{
	height:40px;
	width:100%;
	position:fixed;
	bottom:0px;
	left:0px;
	background-color:#40424f;
	z-index:9000;
	min-width:600px;
}
.social-wrap{
	position:absolute; 
	right:40px;
	top:0px;
}
.social-fb{
	height:40px;
	width:40px;
	background:url(../images/fb-btn.gif) no-repeat;
	float:left;
}
.social-tt{
	height:40px;
	width:40px;
	background:url(../images/tt-btn.gif) no-repeat;
	float:left;
}
.signature{
	height:40px;
	float:left;
	margin-left:40px;
	font-family: 'whitney_lightregular';
	font-size:14px;
	line-height:40px;
	color:#fafaef;
	text-transform:uppercase;
}
.signature span.semibold{
	font-family: 'whitney_semiboldregular';
}
@media only screen and (max-width: 1280px) {
	.social-wrap{
		right:0px;
	}
	.section-title{
		font-size:64px;
	}
	.section-content{
		margin-left:40px;
		padding-top:120px;
	}
	.wrap{
		background-size: 321px 495px;
	}
	.post-wrap{
		margin-left:40px;
	}
}

/* =========================== */
/* NICESCROLL                  */
/* =========================== */
.nicescroll-rails{
	z-index:9999 !important;
}
